*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.wrapper {
    display: flex;
    /* border: 1px solid blue; */
    margin-top: 100px;
}

.input-group {
    margin-left: auto;
    margin-right: auto;
}

.form-wrapper {
    /* border: 1px solid red; */
    width: 40%;
    text-align: center;
}

.form-wrapper input {
    margin-left: auto;
    margin-right: auto;
}

.index-log{
    background-color: white; 
    padding-top: 10px;
    padding-right: 0;
    /* border: 1px solid black; */
}

.index-log h3{
    /* text-align: center; */
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* border: 1px solid black; */
    width: 700px;
    max-height: 500px;  
    overflow-y: scroll;
}
.card {
    margin-bottom: 15px;
    margin-right: 15px;
    width: 45%;
    border-radius: 8px;
    /* box-shadow: 0 4px 15px rgba(0,0,0,.2); */
}

.form1{
    /* border: 1px solid red; */
    width: 30%;
    margin-right: 20px;
}

.form2{
    /* border: 1px solid red; */
    width: 30%;
}

.btn-wrapper{
    display: flex;
    justify-content: start;
    /* border: 1px solid black; */
}